{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="page">

    <h2>{{content_details}}</h2>

    <h3>by {% for p in content_details.creator.all %}{{ p }} {% endfor %}</h3>

</div>

<div class="gallery js-flickity" data-flickity='{ "fullscreen": true, "imagesLoaded": true}'>

    {{ content_details.body | safe }}

</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>
{% endblock %}