{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@1/fullscreen.css">

<div class="topnav">
    {% if previous %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=previous.slug %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronleft_0lEkWuUlQp.svg"></a>
    {% else %}
    <img style="margin-right: auto;visibility: hidden;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronleft_0lEkWuUlQp.svg">
    {% endif %}
    {% if next %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=next.slug %}"><img style="margin-left: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronright_AAQHrtBUGN.svg"></a>
    {% endif %}
</div>

<article>

    <h2 class="title">{{content_details}}</h2>

    <h3 class="byline">        
        by {% for p in content_details.creator.all %}{% if forloop.first %}{{ p }}{% elif forloop.last %} and {{ p }}{% else %}, {{ p }}{% endif %}{% endfor %}
    </h3>

</article>

<div class="gallery js-flickity" data-flickity='{ "fullscreen": true, "imagesLoaded": true}'>

    {{ content_details.body | safe }}

</div>

<div class="bottomnav">
    <a href="{% url 'issuetoc' issue_num=content_details.issue.issue_num %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevrondblleft_ozJWHIHxMX.svg"></a>
    {% if previous %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=previous.slug %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronleft_0lEkWuUlQp.svg"></a>
    {% endif %}
    {% if next %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=next.slug %}"><img style="margin-left: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronright_AAQHrtBUGN.svg"></a>
    {% endif %}
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>

{% endblock %}