{% extends 'base.html' %}

{% block content %}
<div class="scrollheader">
    <div class="progress-container">
        <div class="progress-bar" id="progBar"></div>
    </div>
</div>

<div class="page">

    <h2>{{content_details}}</h2>

    <h3>by {% for p in content_details.creator.all %}{{ p }}{% endfor %}</h3>

    <div class="{{ content_details.css_class | escape }}">
        <p>{{ content_details.body | safe }}</p>
    </div>

</div>

<script>
window.onscroll = function() {progBarFunction()};

function progBarFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("progBar").style.width = scrolled + "%";
}
</script>
{% endblock %}