{% extends 'base.html' %}

{% block content %}

{% if content_details.css_class == 'long' %}
    <div class="scrollheader">
        <div class="progress-container">
            <div class="progress-bar" id="progBar"></div>
        </div>
    </div>

    <script>
        window.onscroll = function() {progBarFunction()};
        
        function progBarFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("progBar").style.width = scrolled + "%";
        }
    </script>
{% endif %}

<div class="topnav">
    {% if previous %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=previous.slug %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronleft_0lEkWuUlQp.svg"></a>
    {% else %}
    <img style="margin-right: auto;visibility: hidden;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronleft_0lEkWuUlQp.svg">
    {% endif %}
    {% if next %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=next.slug %}"><img style="margin-left: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronright_AAQHrtBUGN.svg"></a>
    {% endif %}
</div>

<article>

    <h2 class="title">{% if content_details.title != "untitled" %}{{content_details.title}}{% endif %}</h2>

    <h3 class="byline">
        by {% for p in content_details.creator.all %}{% if forloop.first %}{{ p }}{% elif forloop.last %} and {{ p }}{% else %}, {{ p }}{% endif %}{% endfor %}
    </h3>

    <div class="{{ content_details.css_class | escape }}">
        {% if content_details.img_url %}
        <img src="{{ content_details.img_url }}?tr=w-600c-maintain_ratio" alt="{{content_details.body}}">
        {% else %}
        <p>{{ content_details.body | safe }}</p>
        {% endif %}
    </div>

</article>

<div class="bottomnav">
    <a href="{% url 'issuetoc' issue_num=content_details.issue.issue_num %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevrondblleft_ozJWHIHxMX.svg"></a>
    {% if previous %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=previous.slug %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronleft_0lEkWuUlQp.svg"></a>
    {% endif %}
    {% if next %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=next.slug %}"><img style="margin-left: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronright_AAQHrtBUGN.svg"></a>
    {% endif %}
</div>

{% endblock %}