{% extends 'base.html' %}

{% block content %}

    <article>
    
    <div id="latestcover">
        <a href="{% url 'current' %}" alt="link to current issue"><img src="{{ latest_issues.first.cover_img_url }}" alt="latest issue cover image"></a>
    </div>
    
    <div id="intro">
        <h4>Submissions are open! </h4>
        <p>
            We don’t always get it right—in fact, more often than not we’re downright wrong. And yet, it’s hard to admit it. Or own it. 
            In some ways, learning to be wrong is an art within itself. 
        <br><br>
            We’re looking for submissions that pay homage to those times when you pressed the wrong button, put your foot in your mouth, 
            got off the train too soon, accidentally brought home a Republican…
        <br><br>
            Sometimes being wrong is funny (in hindsight.) Sometimes it’s tragic, even devastating. 
            As the most cringey of equalizers, wrong comes for us all. Tell us what happens next. 
        <br><br>
            Teach us <strong>How to be Wrong.</strong> 
        <br><br>
            We’ll be collecting submissions through 4/28. <br>
            Share your work with us here: <a href="https://beholdermagazine.com/submit/">Submit</a>
        </p>
    </div>

    <div class="rotate" id="archiveheader">
        <h1 class="rotate">Back Issues</h1>
    </div>
    <div id="issuelist">
        {% for i in latest_issues %}
        {% if i != latest_issues.first %}
        <a href="{% url 'issuetoc' issue_num=i.issue_num %}" alt="link to issue {{ i.issue_num }}">
            <img src="{{ i.cover_img_url }}" alt="issue {{ i.issue_num }} cover image">
        </a>
        {% endif %}
        {% endfor %}
    </div>

    <div class="rotate" id="aboutheader">
        <h1 class="rotate">About Us</h1>
    </div>
    <div id="abouttext">
        <p>
            <i>Beholder</i> is an exploration of survival. Its message is captured within the ways that we experience suffering and attempt to find ease. 
            In humor especially we quirk our lips into wry grins and release our pain in small snickers and booming guffaws; 
            yet sometimes we need not even be so cynical and sometimes we just want to preserve quiet, quick moments of joy. 
            This publication is a curation of all our frayed pieces as interwoven threads. It’s a small offering of our hearts given to you in this dark time. 
            We hope that something within these pages might lift you up. Or, at least if you find it terrible, that it provides you with a good laugh.
        </p>
        <p>
            We're here to create an equitable platform for marginalized groups and want to especially encourage all PoC, trans, queer, femme, 
            differently-abled, neurodivergent, or otherwise marginalized creative folx to submit if interested. 
            That said, <i>Beholder</i> is a magazine by all people for all people, and we want to be clear that there’s no “you must have no greater than x privilege” measuring stick we’re using. 
            Unless someone makes that for us. Can someone make that for us?
            <br><br>
            We are currently working on publishing each issue annually, and look forward to compiling and printing an anthology every four issues. 
        </p>
    </div>

    <div id="newssub">
        <form style="padding:3px;text-align:center;" action="https://tinyletter.com/beholdermagazine" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/beholdermagazine', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
            <h4><label for="tlemail">Want to stay in the loop?</label></h4>
            <h4><input type="text" style="width:140px" name="email" id="tlemail" placeholder="email address">
            <input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /></h4>
        </form> 
    </div>

    </article>
{% endblock %}
