{% extends 'base.html' %}

{% block content %}

<article>
    <div class="rotate" id="tocheader">
        <h1 class="rotate">Contents</h1>
    </div>

    <div id="toc">
        <ul id="toc">
            {% for c in issue_details.contents.all %}
            <li><a href="{% url 'contentdetail' issue_num=issue_details.issue_num slug=c.slug %}">
                <b>.{{ c.page }}</b> &emsp; {{ c.title }} by {% for p in c.creator.all %}{{ p }} {% endfor %}
            </a></li>
            {% endfor %}
        </ul>
    </div>

    {% if issue_details.toc_img %}
    <div id="tocimg">
        <img src="{{ issue_details.toc_img.img_url }}?tr=w-450c-maintain_ratio">
        <h3>by {% for p in issue_details.toc_img.creator.all %}{{ p }}{% endfor %}</h3>
    </div>
    {% endif %}
</article>


{% endblock %}