{% extends 'base.html' %}

{% block content %}

<article>

<div id="voicetone">

    <h2>Submissions open!</h2>
    <p>
        Submissions are once again open! Closing date TBD. 
        Stay tuned for more updates on issue 3, including a new publishing schedule.
    </p>

    <h2>Voice/Tone</h2>
    <p>
        Wry, blunt, and unapologetic. 
        “We are going to make fun of you, but also ourselves.” 
        Don’t take yourself too seriously. Question everything. 
        Nothing is sacred, but don’t be a dick. 
        Don’t be humble, but check your pride.
    </p>

</div>

<div class="rotate" id="guidelinesheader">
    <h1 class="rotate">Guidelines</h1>
</div>

<div id="guidelines">

    <h2>Words</h2>
    <ul>
        <li>Please submit writing as either a Word document or PDF.</li>
        <li>Submissions can be up to 5,000 words, though 3,000 or less is preferred.</li>
        <li>If submitting multiple poems for consideration, please submit them all in a single document or PDF, with each poem on its own page.</li>
    </ul>

    <h2>Images</h2>
    <ul>
        <li>For all images, be they photography, comics, illustrations, etc., please start by submitting up to 5 low-res files for consideration. (JPG, PNG, or the like)</li>
        <li>If we accept your submission, we’ll send a Google Drive link where you can drop in a high-res (300 DPI or higher) version.</li>
        <li>For comics, we are looking for anything from a single page to a long story. For your initial submission, however, please submit only the first 5 pages.</li>
    </ul>

    <h2>Other</h2>
    <ul>
        <li>Have a recurring section idea? Want us to feature your music or video game? Awesome!</li>
        <li>Please submit a Word doc or PDF.</li>
        <li>For audio/video content, include an introduction/description of your work for us to use on the site, plus a link to the page you host your art on, be it Vimeo, Bandcamp, Itch.io, etc.</li>
        <li>For feature proposals, either submit an example of your feature or detail what it would look like as thoroughly as possible.</li>
        <li>If you have any other ideas for content, please reach out! </li>
    </ul>
    
    <h2>Ready to submit?</h2>
    <a href="https://airtable.com/shrSiLED4LHQglJnt">
        <button class="btn striped-shadow dark">
            <span>Let’s go!</span>
        </button>
    </a>
</div>


<div id="legal">

    <h2>Rights, agreements, and financial transparency</h2>
    <p>
        If we accept your submission and you agree to publish with us, here’s what we ask:
    </p>
    <ol>
        <li>Permission to publish and maintain your content on the site for minimum one year; a.k.a. one year archival rights.</li>
        <li>Permission to publish your content either as a sample or in full in the printed copy of the issue.</li>
        <li>Permission to preview snippets of your content in teasers for social posts for the issue it appears in. (If you don’t feel OK with this use, let us know. This is an optional ask.)</li>
        <li>We only ask for nonexclusive publishing rights. What we mean by this is, if you want to continue to submit your work to other publishers, that is fine with us (as long as that publisher is OK with us maintaining archival rights for the full year and printing your work).</li>
        <li>If we wish to include your piece in an anthology, we will reach out for anthology rights at that time.</li>
    </ol>
    <p>
        As a tiny-budget, not-for-profit publication, we are currently a non-paying market. <br>
        Here’s what we offer:
    </p>
    <ol>
        <li>Depending on print run and costs, comp copies of the printed issue you appear in. You will have the option to purchase additional copies at cost-to-print (please let us know before we go to print if you are interested in this so we can budget accordingly).</li>
        <li>Permission to sell your copies, if you choose, at the same cost we are charging for them.</li>
        <li>If available: a vendor table at the release party for you to sell your merch. A consignment agreement with the owner of the location may be necessary.</li>
        <li>A comp copy of the next two issues, regardless of if your work appears in them.</li>
    </ol>
    <p>
        Financial transparency: Beholder magazine is an unofficial nonprofit. (Meaning we’re too much of a small fry to actually register it as such but intend to operate as one anyways.)
    </p>
    <p>
        At this point in time, my only goal with charging for the printed magazine is to cover my costs. That includes fees for the website, printing and shipping costs for each issue, any costs associated with the release parties, etc. If earnings exceed my costs, I will donate the excess to non-profit organizations that help at-risk communities. I really hope this becomes possible! —&#8288;Lewis
    </p>

</div>

</article>

{% endblock %}