@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100;0,300;0,500;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
    color: black;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.wrapper > * { /* all children of the wrapper div */
    padding: 10px;
}

/* Font styles */
p {
    font: 0.9375em 'Libre Baskerville', serif; /* 15px */
    line-height:1.8em;
}

h1 { /* vertical headers */
    /* line-height: 2em; */
    font-family: 'Roboto Mono', monospace;
    font-size: 2.8125em; /* 45px */
    font-weight: 100;
}

h2 { /* title */
    font-family: 'Roboto Mono', monospace;
    font-size: 2.1875em; /* 35px */
    font-weight: 500;
}

h3 { /* byline */
    font-family: 'Roboto Mono', monospace;
    font-size: 0.875em; /* 14px */
    font-weight: 300;
}

h4 { /* asst text */
    font-family: 'Roboto Mono', monospace;
    font-size: 1em; /* 16px */
    font-weight: 400;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em; /* 16px */
    font-weight: 700;
    font-style: italic;
}


/* Grid */
.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.nav {
    grid-area: nav;
}

.footer {
    grid-area: footer;
}


/* Display by screen size */

/* Base */
.wrapper {
    display: grid;
    gap: 0px;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding:0px;
    gap: 10px;
}

/* Index */
img#latestcover {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    object-fit: cover;
}

#issuelist > img {
    max-width: 100%;
    width: 480px;
    height: 300px;
    object-fit: cover;
}


@media (min-width: 490px) { /* 490 and larger */
    
    /* Base */
    .wrapper {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "header header"
            "nav nav"
            "content content"
            "content content"
            "footer footer";
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media (min-width: 780px) { /* 780 and larger */
    
    /* Base */
    .wrapper {
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas:
            "header nav nav"
            "content content content"
            "footer footer footer";
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    nav ul {
        line-height: 1em;
        display: flex;
        margin-bottom: 0em;
    }

    footer {
        margin-top: 70px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding: 0px;
        text-align:right;
    }

    /* Index */
    .rotate { 
        /* sideways-lr wasn't supported yet */
        writing-mode: vertical-rl;
        margin: 0em;
        line-height: 1em;
        transform: rotate(180deg);
    }

    img#latestcover {
        height: 542px; 
        object-fit: cover
    }

    #intro {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    #intro > p {
        grid-column: 4 / 11;
        margin-top: 4em;
    }

    #backissues {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 4em;
    }
    #archiveheader {
        grid-column: 1 / 2;
        display: flex;
        align-items: flex-start;
        margin-left: 2em;
    }
    #issuelist {
        grid-column: 3 / 10;
    }
    #issuelist > img {
        width: 645px;
        height: 345px;
        object-fit: cover;
        max-width: 100%;
    }

    #aboutus {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 4em;
        margin-bottom: 4em;
    }
    #aboutheader {
        grid-column: 11 / 12;
        order: 1;
        display: flex;
        align-items: flex-start;
    }
    #abouttext {
        grid-column: 2 / 10;
        order: 0;
        max-width: 100%;
    }
    #abouttext > p {
        margin-top: 0em;
    }

}