{% load static %}

<!DOCTYPE html>

<html lang="en">

<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100;0,300;0,500;1,400;1,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'beholder/styles.css' %}">

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<title>Beholder Magazine</title>

<body>
  
    <div class="wrapper">

        <header class="header"><a href="{% url 'index' %}"><img src="https://ik.imagekit.io/1uzvx5qbuom/beholder/beholdertext_N53AJIZxj.svg" alt="Beholder magazine logo" style="width: 338px; height: 79px;" ></a></header>
        
        <nav class="nav">
            <ul>
                <li><a href="{% url 'current' %}">Current</a></li>
                <li><a href="{% url 'archive' %}">Past</a></li>
                <li><a href="{% url 'contributors' %}">Contributors</a></li>
                <li><a href="{% url 'submit' %}">Submit</a></li>
                <li><a href="https://beholdermag.bigcartel.com/" target="_blank">Shop</a></li>
            </ul>
        </nav>

        <section class="content">

            {% block content %}
            {% endblock content %}
        
        </section>

        <footer class="footer">
            <h4 style="color:#888888">
                &copy; Beholder Magazine 2018–{% now 'Y' %}
            </h4>
        </footer>

    </div> 

</body>

</html>