{% extends 'base.html' %}

{% block content %}

<div class="topnav">
    {% if previous %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=previous.slug %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronleft_0lEkWuUlQp.svg"></a>
    {% else %}
    <a href="{% url 'issuetoc' issue_num=content_details.issue.issue_num %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronleft_0lEkWuUlQp.svg"></a>
    {% endif %}
    {% if next %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=next.slug %}"><img style="margin-left: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronright_AAQHrtBUGN.svg"></a>
    {% endif %}
</div>

{% block page %}{% endblock page %}

<div class="bottomnav">
    <a href="{% url 'issuetoc' issue_num=content_details.issue.issue_num %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevrondblleft_ozJWHIHxMX.svg"></a>
    {% if previous %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=previous.slug %}"><img style="margin-right: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronleft_0lEkWuUlQp.svg"></a>
    {% endif %}
    {% if next %}
    <a href="{% url 'contentdetail' issue_num=content_details.issue.issue_num slug=next.slug %}"><img style="margin-left: auto;" src="https://ik.imagekit.io/1uzvx5qbuom/beholder/chevronright_AAQHrtBUGN.svg"></a>
    {% endif %}
</div>

{% endblock content %}